body {
    font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
    background: black;
    color: #ececec;
    padding: 0;
    margin: 0;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3), 0px -1px 0px rgba(255,255,255,0.3);
}

@font-face {
    font-family: jenna-sue;
    src: url('/assets/fonts/JennaSue.ttf');
}

@font-face {
  font-family: euro;
  src: url('/assets/fonts/Euro.ttf');
}

header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
    display: inline;
    font-family: jenna-sue;
    color: black;
    background: #71EEB8;
    margin-top: 20px;
    z-index: 100;
}

.icon-twitter {
    background-image: url("/assets/images/icon-twitter.png");
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 30px;
    padding-right: 5px;}

.icon-github {
    background-image: url('/assets/images/icon-github.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 30px;
    padding-right: 5px;}

.icon-linkedin {
    background-image: url('/assets/images/icon-linkedin.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 30px;
    padding-right: 5px;
}

h1 {
    font-size: 80px;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 0px;
}

nav ul {
    width: 50%;
    float: right;
    padding-right: 40px;
    text-align: right;
    margin: 40px;
}

nav ul li {
    display: inline;
}

nav li {
    padding-left: 20px;
    font-size: 35px;
}

.content {
    color: black;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 140px;
    background: #fffaf0;
    height: auto;
    padding: 140px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
}


.icon-mortarboard {
    background-image: url('/assets/images/icon-mortarboard.png');
    /*padding-left: px;*/
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    rotation-point:50% 50%;
    rotation: 90deg;
}

.icon-briefcase {
    background-image: url('/assets/images/icon-briefcase.png');
    /*padding-left: px;*/
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    rotation-point:50% 50%;
    rotation: 90deg;
}

.icon-leadership {
    background-image: url('/assets/images/icon-star.png');
    /*padding-left: px;*/
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    rotation-point:50% 50%;
    rotation: 90deg;
}

.icon-lightbulb {
    background-image: url('/assets/images/icon-lightbulb.png');
    /*padding-left: px;*/
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    rotation-point:50% 50%;
    rotation: 90deg;
}

#education {
    position: relative;
}

#work-experience {
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
}

.list-item {
    padding-left: 50px;
    margin: 0;
    cursor: pointer;
}

.list-item.hover {
    text-shadow: 0px 2px 0px rgba(0,0,0,1), 0px -1px 0px rgba(255,255,255,1);
}

.js-info-click {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    bottom: 0;
    color: #71EEB8;
}

.js-click-header {
  font-size: medium;
}
