<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} Michelle Sirois </title>
    <link rel="stylesheet" href="/css/style.css" />
    <script language="JavaScript" type="text/javascript" src="/assets/javascripts/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/javascripts/homepage.js"></script>
</head>
<body>

<div id="main">

    <header>
        <h1><a id="michelle-header" href="/">Michelle Sirois</a></h1>

        <nav role="navigation">
            <ul>
                <li>
                    <i class="icon-twitter"></i>
                    <a href="http://www.twitter.com/michsirois">twitter</a>
                </li>
                <li>
                    <i class="icon-github"></i>
                    <a href="http://www.github.com/michellecsirois">github</a>
                </li>
                <li>
                    <i class="icon-linkedin"></i>
                    <a href="www.linkedin.com/pub/michelle-sirois/31/738/15a">linked in</a>
                </li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>

    </header>


    {{ content }}

    <!--<footer>-->
        <!--<p>Michelle Sirois 2013 | All Rights Reserved. </p>-->
    <!--</footer>-->

</div>
</body>
</html>
